body {
 background-color: #121214;
 display: flex;
 flex-direction: column;
  align-items: center;
}
.h2{
  color: #ff427f;
  text-align: center;
  padding: 20px;

}
form {
  width: 369px;
  background-color: #212529;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
label{
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
}
input{
  background-color: #343b41;
  width: 100%;
  padding: 10px;
  gap: 10px;
  margin-bottom: 20px;
  border: 1px solid white;

}